[submodule "ADXL355"]
	path = ADXL355
	url = https://github.com/markrad/ADXL355-CPP-SDK
[submodule "Azure-IoT-CPP-Wrapper"]
	path = Azure-IoT-CPP-Wrapper
	url = https://github.com/markrad/Azure-IoT-CPP-Wrapper.git
